{% extends 'base.html' %}
{% block title %}All Masks{% endblock %}

{% block body %}
  <h1>All Masks</h1>

  <ul>
    {% for mask in mask_list %}
      <li>
        <a href="/masks/{{ mask.mask_id }}">Mask Details</a>
        <img src="{{mask.img_url }}" class="img-responsive">

        <ul>
          <li>{{ mask.mask_type }}</li>
          <li>Testing and Approval: {{ mask.mask_test }}</li>
          <li>Designed for Reuse: {{ mask.reusable }}</li>
          <li>Face Seal Fit: {{ mask.reusable }}</li>
          <li>Filtration: {{ mask.filtration }}</li>
          <li>Use Limitations: {{ mask.limitation }}</li>

    

          <li><i>*Source: Center for Disease Control and Prevalveion Guidance</i></li>

        {# {% if mask.valve = True %}
            <li><i>*Source: Center for Disease Control and Prevalveion Guidance</i></li>
          {% else %}
            <li class='warning'>Warning! This mask has a valves, not recommended in operating rooms</li>
          {% endif %}
        </ul> #}
          
    {% endfor %}
  </ul>
{% endblock %}
</div>

{#  event listener
  hide with CSS
  show with js
  #}
