<html>

<head>
    <link rel="shortcut icon" type="image/png" href="img/mask_logo.png">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Masks on Demand</title>

</head>

<body>
    <style>
    

        </style>

        <img src="/static/img/mask_logo.png">
        
        <div class="transbox">

            <h1>Masks on Demand ⚕️</h1>

                <p class="lead">Slowing the spead of COVID-19 with PPE delivery</p class="lead"></p>
        </div>

        <a href="/masks" class="btn btn-lg btn-primary">Request Now</a>


</body>
</html>        

<footer>
    <p><p>• Mask Oakland • </p>
</footer>


