{% extends 'base.html' %}

{% block body %}

    <h2>{{ mask.mask_type }}</h2>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="{{mask.img_url }}" class="img-responsive">
        </div>

        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
            <div class="well">
                
                <a class="btn btn-primary" href="/add_to_cart/{{mask.mask_id }}">
                    Add to Wishlist
                </a>
            </div>
        </div>
    </div>

    <div class="mask-details">

        <h3>Mask Details</h3>

        <ul>
            <li>Testing and Approval: {{ mask.mask_test }}</li>
            <li>Designed for Reuse: {{ mask.reusable }}</li>
            <li>Face Seal Fit: {{ mask.reusable }}</li>
            <li>Filtration: {{ mask.filtration }}</li>
            <li>Use Limitations: {{ mask.limitation }}</li>

            {% if mask.valve %}
              <li><i>*Source: Center for Disease Control and Prevalveion Guidance</i></li>
            {% else %}
              <li class='warning'>Warning! This mask has a valves, not recommended in operating rooms</li>
            {% endif %}
        </ul>

        <form action="/make_request" method="POST">
            <section>
             <input type = "hidden" name="mask_id" value="{{ mask.mask_id }}">
            </section>

            <section>
              <input type = "submit"></section>
            </section>
          </form>
    </div>

{% endblock %}
