
{% extends 'base.html' %}

{% block body %}

    {% if mask_objects == [] %}
        <p>Nothing has been added to request</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>mask Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for mask in mask_objects %}
            <tr>
                <td>{{ mask.common_name }}</td>
                <td>{{ mask.quantity }}</td>
                <td>{{ mask.price }}</td>
                <td>{{ mask.total_cost }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Total: {{request_total_cost}}</h3>

        <a href="/checkout" class="btn btn-large btn-primary">Complete request</a>
    {% endif %}
{% endblock %}
