
{% extends 'base.html' %}

{% block body %}

    {% if mask_objects == [] %}
        <p>Nothing has been added to request</p>
    {% else %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Mask Name</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for mask in mask_objects %}
            <tr>
                <td>{{ mask.mask_type }}</td>
                <td>{{ mask.img_url }}</td>
                <td>{{ mask.mask_test }}</td>
                <td>{{ mask.mask_reusable }}</td>
                <td>{{ mask.mask_valve }}</td>
                <td>{{ mask.mask_fit }}</td>
                <td>{{ mask.mask_filtration }}</td>
                <td>{{ mask.mask_limitation }}</td>
            
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Total: $0.00</h3>

            </section>
        </form>

        <a href="/checkout" class="btn btn-large btn-primary">Complete request</a>
    {% endif %}
{% endblock %}
